body{
    background-color: rgb(10, 10, 10);
    color: white;
}
.div-da-secao {
    border: 5px solid rgb(255, 255, 255);
    border-radius:5%;
    background-color: rgb(11, 1, 75);
}

.div-imagem {
    width: 200px !important;
    height: 200px !important;
    overflow: hidden !important;
    border-radius: 50% !important;
    border: solid 4px white !important;  
}
.div-imagem img {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
}

.btn:hover {
    color: white !important;
    background-color: rgb(7, 3, 87);
}